// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$mybeige: #e0c6a5;

$richblack: #121619;
$kaki: #446955;
$seagreen: #09814a;
$ecru: #bcb382;
$gold-crayola: #e5c687;
$navbar-color: #F5B753;
$button-color: #2cc97d;