// Specific CSS for your home-page
.card-categories {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-content: center;
}

.card-category {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.3) 70.71%), url(https://www.gamereactor.fr/media/43/warcraft3_3074383b.jpg);
  height: 200px;
  width: 100%;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  font-size: 25px;
  margin: auto;
  font-weight: bold;
  margin: 15px;
  float: left;
  justify-content: space-around;
}

.card-category:hover {
  box-shadow: 10px 10px 16px rgba(0,0,0,0.8);
}

h2.home-title {
  margin-top: 20px;
  margin-left: 30px;
}