
  <div class="nav-bar">
    <h1>If you bored to play alone !</h1>
      <i class="fas fa-users"> Bored Games</i>
      <div class="user-nav">
        <a href="#">Créer un joueur</a>
        <button><img src="https://eu.ui-avatars.com/api/?name=John+Doe" alt="user-avatar"></button>
      </div>
  </div>
