<div class="home-container">
  <div class="home-intro">
  <h3><strong>Bien le bonjour aventurier</strong></h3>
    <h4>Notre mission est de vous aider à trouver des compagnons de jeu. Sur ce site vous pouvez :</h4>
    <p>- Créer vos joueurs selon plusieurs catégories et une invitation à rejoindre une équipe ne devrait pas tarder !<br>
    - Choisir un joueur qui vous plait pour lui envoyé une invitation afin qu'il rejoigne votre équipe !</p>
  </div>
      <div class="search-btn"><a href="/players" class="btn btn-success lg"><strong>See all players</strong></a></div>
        <div class="card-categories">
          <%= link_to players_path(q: "Video-Games"), class: "card-category" do %>
            <div >Video Games</div>
          <% end %>
          <%= link_to players_path(q: "Card-Games"), class:"card-category" do %>
            <div>Card Games</div> 
          <% end %>
          <%= link_to players_path(q: "Board-Games"), class:"card-category" do %>
            <div>Board Games</div> 
          <% end %>
          <%= link_to players_path(q: "Role-Playing-Games"), class:"card-category" do %>
            <div>Role Playing Games</div> 
          <% end %>
        </div>
</div>

<%#= link_to 'destroy_user_session', destroy_user_session_path, method: :delete %>
