<h2 class="home-title">
<strong><%= link_to "All Categories", players_path %></strong></h2>
  <div class="card-categories">
    <div class="card-category">Video Games</div> 
    <div class="card-category">Card Games</div> 
    <div class="card-category">Board Games</div> 
    <div class="card-category">Role Playing Games</div> 
  </div>


<%#= link_to 'destroy_user_session', destroy_user_session_path, method: :delete %>
