<div class="home-container">
  <div class="home-intro">
  <h3><strong>Welcome Adventurer !</strong></h3>
    <h4>Our mission is to help you to find some buddies to play with. On our website you can :</h4>
    <p>- Create your players according to several categories and an invitation to join a team should not take long!<br>
    - Choose a player you like to send him an invitation to join your team!</p>
  </div>
      <div class="search-btn"><a href="/players" class="btn btn-success lg"><strong>See all players</strong></a></div>
        <div class="card-categories">
          <%= link_to players_path(q: "Video-Games"), class: "card-category" do %>
            <div >Video Games</div>
          <% end %>
          <%= link_to players_path(q: "Card-Games"), class:"card-category" do %>
            <div>Card Games</div> 
          <% end %>
          <%= link_to players_path(q: "Board-Games"), class:"card-category" do %>
            <div>Board Games</div> 
          <% end %>
          <%= link_to players_path(q: "Role-Playing-Games"), class:"card-category" do %>
            <div>Role Playing Games</div> 
          <% end %>
        </div>
</div>

<%#= link_to 'destroy_user_session', destroy_user_session_path, method: :delete %>
