<div class="cards">
<ul>
  <% @players.each do |player| %>
    <%= link_to player_path(player) do %>
        <% user = player.user %>
            <article class="card">
                <header>
                    <h2><%= player.nickname %></h2>
                </header>    
                <img src="balloons.jpg" alt="Hot air balloons">
                <div class="content">
                    <p> <%= user.bio %> </p>
                </div>      
            </article>
        <% end %>
    <% end %>
</ul>
</div>
