<div class="create-player-container">
  <div class="form-border">
    <%= simple_form_for @player do |f| %>
      <%= f.input :category %>
      <%= f.input :nickname %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
