body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(255,182,81);
  background: linear-gradient(100deg, rgba(255,182,81,1) 0%, rgba(38,201,126,1) 100%);
}

html {
  height: 100%;
}