.nav-bar {
  z-index: 10000;
  position: sticky;
  top: 0px;
  height: 80px;
  width: 100%;
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #37C87B;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
    i {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 30px;
    margin-top: 9px;
  }
  h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    text-align: center;
  }
  .user-avatar {
    border-radius: 50%;
    border: solid;
  }
}

.user-nav {
  position: absolute;
  top: 4px;
  right: 15px;
}

.player-create {
  font-size: 17px;
}