.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar {
  border-bottom: solid;
  position: sticky;
  height: 80px;
  width: 100%;
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
  i {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 30px;
    margin-top: 9px;
  }
  h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    text-align: center;
  }
}

.user-nav {
  position: absolute;
  top: 4px;
  right: 15px;
}
