.cards {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-gap: 40px;
  margin: 50px;
}

.card {
  display: grid;
  grid-template-rows: 46px 320px 1fr;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background-color: $mybeige;
  height: 495px;
  width: 315px;
  transition: all 0.2s;
  header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
  }
  content {
    height: 100%;
  }
  p {
    margin: 2px;
    padding: 10px; 
    text-align: center;
  }
  &:hover {
    transform: scale(1.1);
    color: $kaki;
  }
}

.cards-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top: solid;
  border-bottom: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
